@inherits ComponentBase
@page "/cropper"

<h1>Cropper</h1>
<h2>1. Load from file</h2>
<InputFile OnChange="OnInputFileChange"></InputFile>

<center>
    <h2>Crop Result:</h2>
    <img id="my-img" />
</center>